#mainStackPane{
    -fx-border-color: black;
    -fx-border-width: 0.5;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.75), 10, 0, 4, 4);
}

.shadow-effect {
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.75), 10, 0, 4, 4);
}
